{% extends "website/_layouts/template_base.html" %}
{% load static %}
{% block title %}jeto.Pro - Consultoria e Desenvolvimento de Aplicações{% endblock %}
{% block styles %}
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block conteudo %}
    <div class="container">
        <br/>
        <div class="text-center">
            <h1 class="h1-home-header" id="home"></h1>
        </div>
        <hr/>
        <div class="row text-center div-home-gifs">
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <img class="rounded-circle" src="{% static 'website/img/foguete.gif' %}" alt="Otimização">
                <h2 class="h2-home">Otimize</h2>
                <p class="text-justify">
                    Otimize seus resultados com a ajuda da tecnologia, tornando a rotina do seu negócio mais eficaz, eficiente e gerenciavel, gerando mais resultado com menos recursos.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <img class="rounded-circle" src="{% static 'website/img/robo.gif' %}" alt="Automatização" height="150">
                <h2 class="h2-home">Automatize</h2>
                <p class="text-justify">
                    Automatize total ou parcialmente seus processos e tarefas, tornando tudo mais rápido, eficiente, sistemico e centralizado.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <img class="rounded-circle" src="{% static 'website/img/personalize.gif' %}" alt="Personalização">
                <h2 class="h2-home">Personalize</h2>
                <p class="text-justify">
                    Sites e sistemas sob medida de acordo com a sua necessidade. Integração entre sistemas, gerenciamento, intranet, e tudo o que precisar.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <img class="rounded-circle" src="{% static 'website/img/integracao.gif' %}" alt="Integração">
                <h2 class="h2-home">Integre</h2>
                <p class="text-justify">
                    Centralize sua informações integrando os diversos sistemas usados diariamente, explorando ao máximo os recursos oferecidos, sem redundância e com funcionalidades personalizadas.
                </p>
            </div>
        </div>
        <hr/>
        <div class="">
            <div class="row text-center">
                <div class="col">
                    <h1 class="display-1-home" id="portifolio">Portifolio</h1>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 portifolio">
                <a class="portifolio-a" data-toggle="modal" data-target="#chebabi">
                    <img class="rounded-circle portifolio-logo" src="{% static 'website/img/portifolio/chebabi.jpg' %}" alt="logo">
                </a>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="chebabi" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <a target="_blank" href="http://www.chebabi.com/">
                                <h5 class="modal-title text-center">Chebabi.com</h5>
                            </a>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-justify">
                                Site de apresentação, blog e intranet integrada aos sistemas do escritório e à diversas APIs.
                            </p>
                            <div id="chebabiControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100 img-thumbnail" src="{% static 'website/img/portifolio/slides/slide_chebabi_1.jpg' %}" alt="Primeiro slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 img-thumbnail" src="{% static 'website/img/portifolio/slides/slide_chebabi_2.jpg' %}" alt="Segundo slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 img-thumbnail" src="{% static 'website/img/portifolio/slides/slide_chebabi_3.jpg' %}" alt="Terceiro slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#chebabiControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                                <a class="carousel-control-next" href="#chebabiControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Proximo</span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Fim modal -->

                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 portifolio">
                    <a class="portifolio-a" data-toggle="modal" data-target="#apperitivo">
                        <img class="rounded-circle portifolio-logo" src="{% static 'website/img/portifolio/apperitivo.jpg' %}" alt="logo">
                    </a>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="apperitivo" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center">APPeritivo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-justify">
                                Plataforma para gerenciamento de imóveis em negociação de forma simples e direta.
                            </p>
                            <div id="apperitivoControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100 img-thumbnail" src="{% static 'website/img/portifolio/slides/slide_apperitivo_1.jpg' %}" alt="Primeiro slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 img-thumbnail" src="{% static 'website/img/portifolio/slides/slide_apperitivo_2.jpg' %}" alt="Segundo slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 img-thumbnail" src="{% static 'website/img/portifolio/slides/slide_apperitivo_3.jpg' %}" alt="Terceiro slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#apperitivoControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                                <a class="carousel-control-next" href="#apperitivoControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Proximo</span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Fim modal -->

                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 portifolio">
                    <a class="portifolio-a" data-toggle="modal" data-target="#tindertools">
                        <img class="rounded-circle portifolio-logo" src="{% static 'website/img/portifolio/tinder_tools.png' %}" alt="logo">
                    </a>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="tindertools" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center">Tinder Tools</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-justify">
                                Plataforma baseada e integrada ao aplicativo de relacionamentos Tinder. Com funções exclusivas e facilidades para quem já usa o aplicativo.
                            </p>
                            <div id="tindertoolsControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100 img-thumbnail" src="{% static 'website/img/portifolio/slides/slide_tindertools_1.jpg' %}" alt="Primeiro slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 img-thumbnail" src="{% static 'website/img/portifolio/slides/slide_tindertools_2.jpg' %}" alt="Segundo slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 img-thumbnail" src="{% static 'website/img/portifolio/slides/slide_tindertools_3.jpg' %}" alt="Terceiro slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#tindertoolsControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                                <a class="carousel-control-next" href="#tindertoolsControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Proximo</span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Fim modal -->

                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 portifolio">
                    <a class="portifolio-a" data-toggle="modal" data-target="#festasfun">
                        <img class="rounded-circle portifolio-logo" src="{% static 'website/img/portifolio/festas_fun.jpg' %}" alt="logo">
                    </a>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="festasfun" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center">Festas.fun</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-justify">
                                Indexador de eventos do Facebook que busca e categoria os eventos de acordo com a localidade.
                            </p>
                            <div id="festasfunControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100 img-thumbnail" src="{% static 'website/img/portifolio/slides/slide_festasfun_1.jpg' %}" alt="Primeiro slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100 img-thumbnail" src="{% static 'website/img/portifolio/slides/slide_festasfun_2.jpg' %}" alt="Segundo slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#festasfunControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                                <a class="carousel-control-next" href="#festasfunControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Proximo</span>
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Fim modal -->

            </div>
        </div>
        <hr/>
        <div class="sobre">
            <h1 class="text-center display-1-home" id="sobre">Sobre</h1>
            <p>
                &emsp;Ola! Meu nome é <b>Victor Meireles</b>. Sou analista e desenvolvedor de sistemas. 
            </p>
            <p>
                O <b>jeto.Pro</b> é um projeto meu, onde, como prestador de serviço/freela, atuo em todas as áreas do desenvolvimento de um projeto/aplicação. 
                Desde a análise, modelagem e prototipagem, até a codificação, testes e implementação.
            </p>
            <p>
                Viso atender a alta demanda do mercado de tecnologia com um preço acessivél, atendimento personalizado e principalmente qualidade no produto final.
            </p>
        </div>
        <hr/>
        <div class="">
            <div class="row text-center">
                <div class="col">
                    <h1 class="display-1-home" id="contato">Contato</h1>
                </div>
            </div>
            <div class="row form-contato-home">
                <div class="col-xl-5">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item li-contatos">
                            <i class="fa fa-envelope-o"></i>
                            <a href="mailto:victor.meireles.dev@gmail.com">victor.meireles.dev@gmail.com</a>
                        </li>
                        <li class="list-group-item li-contatos">
                            <i class="fa fa-whatsapp"></i>
                            <a href="https://api.whatsapp.com/send?phone=5519992242988&text=Encontrei%20seu%20contato%20pelo%20site%20jeto.Pro">(19) 9 9224-2988</a>
                        </li>
                        <li class="list-group-item li-contatos">
                            <i class="fa fa-twitter"></i>
                            <a target="_blank" href="https://twitter.com/IAmDinamite">@IAmDinamite</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-7">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 text-center">
                            
                        </div>
                        <div class="col-md-12 col-lg-6 text-center">
                            <h3>
                                
                            </h3>
                        </div>
                    </div>

                    {% if erro %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{erro}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% elif sucesso %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{sucesso}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                    <form method="POST" name="contato" action="{% url 'enviar_contato' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" name="nome" class="form-control form-control-lg" placeholder="* Nome" required>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="email" class="form-control form-control-lg" placeholder="* E-mail" required>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="telefone" class="form-control form-control-lg" placeholder="Telefone">
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col">
                                <textarea  name="mensagem" class="form-control form-control-lg" placeholder="* Mensagem..." required></textarea>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col text-right">
                                <button type="submit" class="btn btn-lg btn-success">
                                    <i class="fa fa-paper-plane"></i> Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>  

            </div>
        </div>
        <hr/>

    </div>

    <footer>
        <div class="container col text-center">
            <p class="float-right">
                <a class="to-top-button" onclick="topFunction()">
                    <i class="fa fa-arrow-up fa-3x"></i>
                </a>
            </p>
            <p>© 2018 - <a href="http://jeto.pro">jeto.Pro</a> - Todos os direitos reservados.</p>
        </div>
    </footer>

{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="{% static 'website/js/home.js' %}"></script>

    {% if erro or sucesso %}
        <script>
            document.getElementById("contato").scrollIntoView();
        </script>
    {% endif %}

{% endblock %}