{% extends "website/_layouts/template_base.html" %}
{% load static %}
{% block title %}Página Inicial{% endblock %}
{% block styles %}
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
{% endblock %}
{% block conteudo %}
    <div class="container">
        <br/>
        <div class="text-center">
            <h1 class="h1-home-header"></h1>
        </div>
        <hr/>
        <h1>jeto.Pro</h1>
        <p>Agora sao: {{now}}</p>
        <ul>
            {%for transacao in transacoes %}
                {% if transacao == "t2"%}
                    <li><b>{{transacao}}</b></li>
                {%else%}
                    <li>{{transacao}}</li>
                {%endif%}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="{% static 'website/js/home.js' %}"></script>
{% endblock %}