{% extends "website/_layouts/template_base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block conteudo %}
    <div class="container">
        <h1>jeto.Pro</h1>
        <p>Agora sao: {{now}}</p>
        <ul>
            {%for transacao in transacoes %}
                {% if transacao == "t2"%}
                    <li><b>{{transacao}}</b></li>
                {%else%}
                    <li>{{transacao}}</li>
                {%endif%}
            {% endfor %}
        </ul>
    </div>
{% endblock %}