html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #12a2cf;
}
#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/*background-color: rgba(249, 250, 251, 0.7);*/
.h1-home-header {
    font-family: 'Chakra Petch', sans-serif;
    display: inline;
    text-align: center!important;
    font-size: 9vw!important;
}
.typed-cursor {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 9vw;
    line-height: 0;
}

.menu-top-nav{
    background-color: rgba(240, 240, 240, 0.8);
    border-bottom: solid 1px lightgrey;
}